.articles-table {
  width: 100%;
}

.table-row-header {
  background-color: #FFF;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  position: static;
  margin-bottom: 20px;
  z-index: 0;
}

.table-row {
  background-color: #FFF;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.table-row h1, .table-row h2 {
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 1rem;
}

.table-row h2 {
  font-size: 1rem;
}

.table-row button {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (min-width: 75em){
  .table-row > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-row > div > div > h1 {
    width: 100%;
    justify-content: flex-start;
  }

  .table-row h1, .table-row h2 {
    margin-bottom: 0rem;
  }
}

/*
.articles-table thead {
  display: none;
}

.articles-table tbody tr {
  display: block;
  padding: 1rem 0.5rem;
}

.articles-table tbody tr td {
  display: block;
  width: 100%;
}

.articles-table tbody tr td.publicar, .articles-table tbody tr td.editar {
  width: 50%;
}
*/
