/*=======================================================
  CONTENIDO PRINCIPAL
=======================================================*/
main {
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  padding-top: 70px;
}

@media screen and (min-width: 75em){
  main {
    padding-left: 300px;
  }
}
