.article-container {
  border-radius: 3px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.article-img-container {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.article-img-container img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.article-container .article-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-weight: normal;
  color: #FFF;
}

.info-article, .paragraph {
  padding: 0.5rem 1rem;
}

.outhor {
  margin-bottom: 0.5rem;
}

.outhor .outhor-image {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.outhor .outhor-name {
  margin-left: 20px;
}

.outhor a {
  text-decoration: none;
}
.outhor .outhor-name h5 {
  color: #323232;
}

.outhor .outhor-name h6 {
  font-size: 0.9rem;
  font-weight: normal;
  color: #545454;
}

.paragraph-title {
  margin-bottom: 0.5rem;
}

.details div {
  margin: 0 1rem;
}

.recommended-container {
  margin-top: 20px;
}

.comments {
  margin-top: 20px;
}

.comment {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  overflow: hidden;
}

.header-comment .user-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.comment .header-comment {
  background-color: rgba(243,81,56,1);
  color: #FFF;
}

.body-comment textarea {
  display: none;
  width: 100%;
  height: 100px;
  border: 0;
}

.comment-form .body-comment textarea{
  display: block;
}

.footer-comment {
  padding-top: 0;
}

.footer-comment .container-buttons {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.footer-comment button {
  border: 0;
  padding: 0.5rem 1rem;
  background-color: #314A5C;
  border-radius: 3px;
  color: #FFF;
  letter-spacing: 1px;
}

.footer-comment button.btn-delete-comment {
  background-color: #bb1a33;
  border-radius: 0px;
}

.footer-comment button.btn-edit-comment {
  background-color: #FFCC00;
  border-radius: 0px;
}

.footer-comment button.btn-save{
  background-color: #008F39;
  border-radius: 0px;
}

.body-comment textarea.active {
  display: block;
}

.body-comment p.disable {
  display: none;
}

#addmyfavorite {
  cursor: pointer;
}

 .isfavorite {
   color: #bb1a33;
}
@media screen and (min-width: 75em) {
  .article-img-container {
    height: 200px;
  }

  .recommended-container{
    margin-top: 0;
  }

  .recommended-container .article-card {
    margin-right: 0;
  }

  .body-comment textarea {
    height: 90px;
  }
  /*
  .article-container, .comments {
    width: 70%;
  }

  .recommended-container {
    width: 30%;
    margin-top: 0px;
  }

  .recommended, .information-to-article {
    width: 85%;
    margin-left: 15%;
  }
*/
}
