.checked {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.checked .title-check, .checked .description-check, .checked .button-check {
  width: 100%;
}

.checked .description-check {
  margin: 0 auto;
  max-width: 700px;
}

.checked .description-check p {
  font-size: 1.5rem;
}

.checked .button-check button {
  font-size: 1.4rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border: 0;
}
