/*=======================================================
  MENU DE USRUARIO
=======================================================*/
.menu-action button.btn-menu, .menu-action button.btn-user {
  background-color: transparent;
}

.menu-action button.btn-user {
  margin-left: 10px;
}

.menu-user {
  position: fixed;
  top: 57px;
  left: 5%;
  width: 90%;
  max-width: 300px;
  background-color: #FFF;
  list-style-type: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  z-index: 1000;
  display: none;
}

.menu-user li {
  margin-left: 0;
  padding: 1rem 0.5rem;
}

.menu-user li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu-user li div.p-1{
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.menu-user li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.menu-user.active {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-user {
    position: absolute;
    top: 57px;
    left: auto;
    right: 0;
  }
}
