.header {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  max-width: 300px;
  height: 100vh;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  transition: all .25s;
  z-index: 2000;
}

.header.active { left: 0%; }

.menu {
  list-style: none;
}

.menu li {
  margin-left: 0;
}

.menu li a {
  display: block;
  padding-left: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  transition: all 0.25s;
}

.menu li a:hover {
  background-color: #0077c2;
  font-size: 1.15rem;
  color: #FFF;
}
